tts-key.txt
openai_api_key.txt
keys.txt
client_secret_189304510293-pq017f1s8qofm9q6ioaqpvhmvr2m3om1.apps.googleusercontent.com.json
credentials.json
__pycache__
token.json
gdrive_key.txt
tests
serpapi.txt
serp_api_key.txt